.footer {
	font-size: rem(11);
	line-height: calc(13 / 11);
	margin-top: auto;
	--sPT: 0;
	--sPB: 0;
	// --sTPB: #{rem()};
	&__wrap {
		padding: rem(16);
		background-color: $dark;
		border-radius: $border-radius-xl;
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(16)};
		align-items: center;
		@include media-breakpoint-down(md) {
			--bs-gutter-x: #{rem(20)};
		}
	}
	// .section-title{

	// }
	// &__col{

	// }
	// &__item{

	// }
	&__slide {
		height: auto;
	}
	.soc {
		margin-top: rem(24);
		@include media-breakpoint-up(sm) {
			margin-top: 0;
		}
		@include media-breakpoint-up(sm) {
			justify-content: flex-end;
		}
	}
	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
