mixin footer()
	+b.FOOTER.footer.section
		+e.wrap
			+e.row.row
				.col-sm-auto
					+e.copyright © #[span.currentYear] Профиментор
				.col-sm-auto
					a(href="#") Политика конфиденциальности
				.col-sm-auto
					a(href="#") Обратная связь
				.col-sm
					+soc()

