mixin sInstitute(data)
	// start sInstitute
	+b.sInstitute.section#sInstitute&attributes(attributes)
		+e.heading
			.row
				+e.col.col-sm-4.col-xl-3
					+e.img-wrap
						.img-wrap-center
							+img('img/sInstitute-1.png')
				.col-sm
					+e.description
						+e.links
							a(href="#")
								+icon('interactive')
								span specmetal.com
							a(href="#")
								+icon('mail')
								span info@specmetal.com
						p Первое, что нужно сделать&nbsp;&mdash; это настроить мониторинг и&nbsp;упоминания. Настройте уведомления туда, куда вам удобно: почта, канал в&nbsp;Telegram, личные сообщения во&nbsp;ВКонтакте.Важно отметить, что всё, кроме личных сообщений в&nbsp;вашем аккаунте в&nbsp;Instagram, можно отследить (их&nbsp;придётся проверять вручную, а&nbsp;всё остальное будет приходить в&nbsp;чат или на&nbsp;почту). Если рассматривать только комментарии и&nbsp;ответы пользователям в&nbsp;официальных сообществ
		+e.professions
			h2 Профессии
			.row
				.col-sm-6.col-lg-4.col-xxl-3
					+professionItem(`Агент по&nbsp;сбыту энергии`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым`)
				.col-sm-6.col-lg-4.col-xxl-3
					+professionItem(`Агент по&nbsp;сбыту энергии`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым`)
				.col-sm-6.col-lg-4.col-xxl-3
					+professionItem(`Агент по&nbsp;сбыту энергии`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым`)
				.col-sm-6.col-lg-4.col-xxl-3
					+professionItem(`Архитектор программного обеспечения`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро`)
						+professionProp(`Принципиальность`, `var(--bs-teal)`)
						+professionProp(`Оптимизм`, `var(--bs-orange)`)
				.col-sm-6.col-lg-4.col-xxl-3
					+professionItem(`Агент по&nbsp;сбыту энергии`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым`)
				.col-sm-6.col-lg-4.col-xxl-3
					+professionItem(`Агент по&nbsp;сбыту энергии`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым`)

	// end sInstitute