mixin sStudy(data)
	// start sStudy
	+b.SECTION.sStudy.section#sStudy&attributes(attributes)
		h1 Обучение
		+e.row.row
			+e.col.col-lg-4.col-xl-auto.order-lg-last
				+asideFilter()
					.col-sm.col-lg-12
						+filterBlock(`Направления`)
							+in-c(`checkbox`, `Все`)
							+in-c(`checkbox`, `Авто`)
							+in-c(`checkbox`, `Туризм`)(checked)
							+in-c(`checkbox`, `Искусство`)(disabled)
							+in-c(`checkbox`, `Тяжелая промышленность`)
							+in-c(`checkbox`, `Торговля`)
							+in-c(`checkbox`, `Связь`)(disabled)
							+in-c(`checkbox`, `Строительство`)
							+in-c(`checkbox`, `Финансы`)
							+in-c(`checkbox`, `IT`)
							+in-c(`checkbox`, `Электроника`)(checked)
							+in-c(`checkbox`, `Управление`)
					.col-sm.col-lg-12
						+filterBlock(`Направления`)
							+in-c(`checkbox`, `Все`)
							+in-c(`checkbox`, `Авто`)
							+in-c(`checkbox`, `Туризм`)(checked)
							+in-c(`checkbox`, `Искусство`)(disabled)
							+in-c(`checkbox`, `Тяжелая промышленность`)
							+in-c(`checkbox`, `Торговля`)
							+in-c(`checkbox`, `Связь`)(disabled)
							+in-c(`checkbox`, `Строительство`)
							+in-c(`checkbox`, `Финансы`)
							+in-c(`checkbox`, `IT`)
							+in-c(`checkbox`, `Электроника`)(checked)
							+in-c(`checkbox`, `Управление`)
					
						//- +filterBlock(`Направления`, `Все`, `Авто`, `Туризм`, `Искусство`, `Тяжелая промышленность`, `Торговля`, `Связь`, `Строительство`, `Финансы`, `IT`, `Электроника`, `Управление`)
			.col-lg-8.col-xl
				+e.wrap
					+institutionItem(1, `Innopolis University`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнитьРыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно`)
					+institutionItem(2, `МАИ`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнитьРыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно`)
					+institutionItem(3, `ВШЭ`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить ...`)
					+institutionItem(1, `Innopolis University`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить ...`)
					+institutionItem(1, `Innopolis University`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнитьРыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить ...`)
					+institutionItem(2, `МАИ`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнитьРыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно`)
				+e.btn.btn.btn-outline-primary(href='#') Показать еще
		+mentorHelp().d-lg-none.mt-4
				
	// end sStudy