mixin sStudy(data)
	// start sStudy
	+b.sStudy.section#sStudy&attributes(attributes)
		+e.wrap
			+institutionItem(1, `Innopolis University`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнитьРыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно`)
			+institutionItem(2, `МАИ`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнитьРыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно`)
			+institutionItem(3, `ВШЭ`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить ...`)
			+institutionItem(1, `Innopolis University`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить ...`)
			+institutionItem(1, `Innopolis University`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнитьРыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить ...`)
			+institutionItem(2, `МАИ`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнитьРыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно`)
		+e.btn.btn.btn-outline-primary(href='#') Показать еще
		
				
	// end sStudy