mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.row.row
			.col-lg-8
				+e.wrap
					h1 Подбери профессию опираясь на&nbsp;свои качества
					p Рыбатекст используется изайнерами, проектировщиками и&nbsp;ронтендерами, когда нужно быстро заполнить
					+e.btn.btn.btn-primary(href='#') Подобрать профессию
					img(src="img/header-img-1.png", alt="")
			.col-lg-4

	// end headerBlock