mixin sEntries(data)
	// start sEntries
	+b.SECTION.sEntries.section#sEntries&attributes(attributes)
		+section-title-arrows(`Статьи`, 'l')
		+e.row.row
			.col-lg-4.col-xl-6
				+articleItem(`articleItem-bg-1.jpg`,`Новые профессии 2023 года. Подборка лучшего`, true)
			.col-sm-6.col-lg-4.col-xl-3
				+articleItem(`articleItem-bg-2.png`, `Защита данных от мошенников в банковских приложениях`)
			.col-sm-6.col-lg-4.col-xl-3
				+articleItem(`articleItem-bg-3.png`, `Как стать тестировщиком мобильных приложений без специальных навыков`)

	// end sEntries