mixin sDemanded(data)
	// start sDemanded
	+b.SECTION.sDemanded.section#sDemanded&attributes(attributes)
		.slider-wrapper
			+section-title-arrows(`Востребованные профессии`)
			+e.slider.swiper.standard-slider-js
				.swiper-wrapper
					- for (var x = 0; x < 2; x++)
						+e.slide.swiper-slide
							+professionItem(`Агент по&nbsp;сбыту энергии`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым`)
						+e.slide.swiper-slide
							+professionItem(`Агент по&nbsp;сбыту энергии`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым`)
						+e.slide.swiper-slide
							+professionItem(`Архитектор программного обеспечения`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро`)
								+professionProp(`Принципиальность`, `var(--bs-teal)`)
								+professionProp(`Оптимизм`, `var(--bs-orange)`)
						+e.slide.swiper-slide
							+professionItem(`Ассистент режиссера по&nbsp;актёрам`, `Рыбатекст используется дизайнерами, проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым екст используется дизайнерами...`)
						+e.slide.swiper-slide
							+professionItem(`Банковский кассир-операционист`, `Рыбатекст используется дизайнерами, проектировщиками`)

	// end sDemanded