extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sContent/_sContent.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Статья'
	title= title
block pagecontent
	.aside-wrap
		+asideContent()

	.main-center-wrap
		main
			+page-head(`Новые профессии 2023 года. Подборка лучшего`, '', '', '', `15&nbsp;января 2023`, 'back')
			+sContent()
				+e.row.row
					.col-lg-5.col-xxl-6.order-lg-last
						+img('img/sContent-1.jpg')
					.col-lg-7.col-xxl-6
						+e.wrapper
							h2 В данной статье разберем принципы работы с комментариями в соцсетях. Для большей обстоятельности статья будет поделена на два блока: технический, в котором будет рассмотрена теория, и практический, где будет описано, как совместить теорию с практикой.
							p Первое, что нужно сделать – это настроить мониторинг и упоминания. Настройте уведомления туда, куда вам удобно: почта, канал в Telegram, личные сообщения во ВКонтакте.Важно отметить, что всё, кроме личных сообщений в вашем аккаунте в Instagram, можно отследить (их придётся проверять вручную, а всё остальное будет приходить в чат или на почту). Если рассматривать только комментарии и ответы пользователям в официальных сообществах, нужно помнить, что если вы создаёте контент, побуждающий пользователей к действию (например, конкурс или флешмоб), то вам придётся отслеживать активность пользователей, а это как раз можно сделать в Youscan и других мониторинговых системах.
							ul
								li StarComment и Chotam: достаточно простые и бюджетные системы отслеживания комментариев с упоминанием брендов в соцсетях с возможностью официального ответа прямо из системы.
								li Youscan, Brand Analytics и Semantic Force – продвинутые системы мониторинга онлайн-медиа, включая соцсети, интернет-СМИ, блоги, форумы, видео и мессенджеры. Можно мониторить как бренды, так и широкие темы. Youscan умеет распознавать бренды, Brand Analytics строит карту упоминаний по геотэгам. Однако стоит упомянуть, что данные системы могут быть дорогими в использовании.
								li Picaton – сервис сбора аналитики и статистики профиля в Instagram и аудитории, может присылать в Telegram новые комментарии и отвечать на них.
								li Инцидент - продвинутая система реагирования от компании «Медиалогия». С одной стороны, позволяет мониторить социальные медиа, с другой, обладает полноценным функционалом для распределения упоминаний по ответственным сотрудникам с возможностью отвечать из системы, категоризировать задачи и составлять статистику реагирования.
							h2 Создаём матрицу коммуникаций
							p Следующий важный шаг, о котором не стоит забывать как в самом начале работе, так и в процессе – это создание, обновление и постоянное поддержание в актуальном состоянии матрицы коммуникаций. В самом простом виде это Google Таблица.
							p Она должна обязательно включать в себя все категории вопросов пользователей, и туда должны вноситься все неповторяющиеся вопросы и комментарии от пользователей, а также ваши ответы на них. То есть на первом этапе это своеобразный FAQ, а дальше уже большой подробный и умный документ, который облегчает и ускоряет работу модераторов.И главное: не забывайте контролировать её пополнение! Это очень важно.
		+footer()



