extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sStudy/_sStudy.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= null
	- let  bg= '09-study.jpg'

block title
	- let  title= 'Обучение'
	title= title
block pagecontent
	.aside-wrap
		+asideContent()
			
	.main-center-wrap
		main
			+page-head(`Обучение`, 'filter', 'dir', '')
				+sStudy()
		+footer()



