extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sDemanded/_sDemanded.pug
include ../blocks/sAdvises/_sAdvises.pug
include ../blocks/sInstitutions/_sInstitutions.pug
include ../blocks/sMaterials/_sMaterials.pug
include ../blocks/sEntries/_sEntries.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	.aside-wrap
		+asideContent()
			
	.main-center-wrap
		main
			+headerBlock()
			//- +headerBlock()
			+sDemanded()
			+sAdvises()
			+sInstitutions()
			+sMaterials()
			+sEntries()
		+footer()



