mixin sRecommends(data)
	// start sRecommends
	+b.SECTION.sRecommends.section#sRecommends&attributes(attributes)
		+e.wrap
			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)
			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)
			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных отвеПобеди эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личностита на сложные вопросы о твоей личности`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)
			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных отвеПобеди эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личностита на сложные вопросы о твоей личности`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)
			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных отвеПобеди эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личностита на сложные вопросы о твоей личности`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)

			+adviseItem(`Победи эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личностиПобеди эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личностиПобеди эйчара на его же поле. Три главных ответа на сложные вопросы о твоей личности`, `Для Профессия`)


	// end sRecommends