// start .sAdvises
.sAdvises {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	@include media-breakpoint-down(sm) {
		display: none;
	}
	&__wrapper {
		position: relative;
		border: 1px solid $border-color;
		border-radius: $border-radius-xl;
		// background-color: var(--bs-body-bg);
		padding: calc(var(--main-gutter) * 1.33335);
		padding-bottom: calc(var(--main-gutter) * 2.5 + #{rem(40)});
		overflow: hidden;
		z-index: 2;
		@include media-breakpoint-up(lg) {
			padding-right: rem(103);
		}
		@include media-breakpoint-up(xl) {
			padding-bottom: calc(var(--main-gutter) * 1.33335);
		}
		&::after {
			content: "";
			position: absolute;
			width: rem(114.16);
			height: rem(134.19);

			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='115' height='135' viewBox='0 0 115 135' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M32.4105 93.4514C27.2832 95.5671 14.6747 98.6479 11.6552 92.5859C-6.40304 56.3619 13.4267 33.5599 11.5616 28.1746L9.48154 25.6364C17.2956 18.2659 71.5984 18.3209 63.2159 64.1514C61.3439 74.3691 57.3398 78.3738 50.1428 84.2125C42.9459 90.0512 32.4105 93.4514 32.4105 93.4514Z' fill='%23EF5AF7'/%3e%3cpath opacity='0.2' d='M32.4105 93.4514C27.2832 95.5671 14.6747 98.6479 11.6552 92.5859C50.1428 82.1185 45.9287 50.4504 44.0636 45.065L9.48153 25.6364C17.2955 18.2659 71.5984 18.3209 63.2159 64.1514C61.3439 74.3691 57.3398 78.3738 50.1428 84.2125C42.9459 90.0512 32.4105 93.4514 32.4105 93.4514Z' fill='white'/%3e%3cpath d='M8.01157 57.0825C6.40926 66.6963 8.6792 72.1041 11.0159 81.1171C11.0159 81.1171 8.40134 62.4638 13.0188 52.0752C15.5304 46.4246 15.0217 41.0593 15.0217 41.0593L15.0217 35.0507C14.3541 35.0507 9.61388 47.4686 8.01157 57.0825Z' fill='white'/%3e%3cpath d='M114.165 86.044L107.886 80.1156C107.03 85.1971 94.2811 93.8037 73.0677 102.135C53.6607 109.758 23.6941 117.662 6.85568 109.758C2.78973 114.283 0.291512 120.485 0.00611877 124.155C-0.279282 127.825 9.39933 133.623 17.1299 134.036C38.2493 135.165 54.2315 130.084 69.0721 123.308C84.9826 116.045 103.32 102.135 109.313 97.3363C114.165 93.4512 114.165 89.714 114.165 86.044Z' fill='%237C65EF'/%3e%3cpath d='M102.142 63.1609C102.075 63.0753 101.909 62.8904 101.784 62.7602L95.6194 67.421C95.735 66.1307 95.8815 64.8939 96.0225 63.7038C96.8807 56.4605 97.7373 50.3876 89.9525 45.0493C87.0361 43.0528 81.5624 41.6945 76.7073 42.7284C72.6387 43.5947 69.2409 48.1681 68.1908 48.6513C66.8476 37.6244 60.2197 30.1864 51.5719 24.9401C40.6285 18.3016 30.3218 18.1785 17.9266 18.0305L17.5526 18.026C18.5083 19.4369 19.6361 19.4174 21.2198 19.3899C21.8002 19.3799 22.4419 19.3688 23.1587 19.4267C52.1099 20.7691 69.9264 34.3369 65.4943 65.5957C61.9925 90.3001 26.8094 102.919 12.3254 98.1662C13.9629 106.762 42.0343 96.9848 47.5762 93.5123C58.9543 86.3757 63.9887 82.2525 68.1096 68.5717C70.5137 74.5661 94.4857 69.4289 94.4857 69.4289C94.4699 70.0609 94.4783 70.7431 94.5198 71.503C94.5631 72.2833 94.6219 73.0073 94.6782 73.6993L94.6782 73.6994C94.8772 76.148 95.0436 78.1956 94.371 80.9136C89.7933 85.5812 63.5556 98.2723 56.6097 100.378C56.3861 100.446 56.1444 100.52 55.8857 100.599C46.4833 103.463 21.6752 111.775 8.01161 102.649V106.263C22.7934 118.968 82.6917 97.6525 100.102 84.4647C100.501 84.1629 100.926 83.8592 101.361 83.5494C104.248 81.4901 107.513 79.1612 105.563 75.3213L101.936 75.9857C101.49 71.9762 101.972 70.7094 102.785 68.5755C103.106 67.7332 103.478 66.7557 103.865 65.4211C103.807 65.3594 103.188 64.5444 103.053 64.3629L102.142 63.1609Z' fill='%237C65EF'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M95.7817 17.9114C88.2008 9.3232 82.255 5.1366 71.3632 1.87502C60.8854 -1.26259 48.8176 0.182382 43.3933 1.57295C32.1712 4.44983 18.2331 13.1361 18.0259 17.141L18.3952 17.1454C30.635 17.2921 40.8124 17.4141 51.6186 23.9934C60.1579 29.1929 67.7733 35.1379 69.0996 46.0664C70.1366 45.5875 69.9127 46.2135 70.8106 45.3645C72.337 43.9211 74.1032 41.4396 77.1112 41.0592C80.549 40.6248 87.2501 41.0834 90.13 43.0621C102.147 48.0693 96.1387 66.0953 96.1387 66.0953L101.711 61.4117L104.15 64.0924L105.103 61.4117C108.494 52.8725 109.135 45.4092 106.65 36.405C105.003 30.4317 101.309 24.1736 95.7817 17.9114Z' fill='%237C65EF'/%3e%3cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M71.3632 1.87502C82.255 5.1366 88.2008 9.3232 95.7817 17.9114C101.309 24.1736 105.003 30.4317 106.65 36.405C109.135 45.4092 108.494 52.8725 105.103 61.4117L104.15 64.0924L101.711 61.4117L96.1387 66.0953C96.1387 66.0953 102.147 48.0693 90.13 43.0621C88.9469 32.0462 83.0845 9.8141 69.0996 9.01295C64.5575 8.75274 60.8207 7.83216 57.2855 6.96124C47.2151 4.48032 38.7806 2.40243 18.0259 17.141C18.2331 13.1361 32.1712 4.44983 43.3933 1.57295C48.8176 0.182382 60.8854 -1.26259 71.3632 1.87502Z' fill='white'/%3e%3c/svg%3e ");
			background-repeat: no-repeat;
			background-size: contain;
			z-index: -1;
			right: rem(-31);
			bottom: rem(-13);
			opacity: 0.7;
			@include media-breakpoint-up(lg) {
				opacity: 1;
			}
		}
	}
	&__row.row {
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	&__row-sm.row {
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: var(--bs-gutter-x);
	}

	&__btn {
		@include media-breakpoint-down(xl) {
			position: absolute;
			bottom: calc(var(--main-gutter) * 1.33335);
		}
	}

	.adviseItem {
		// max-width: rem(500);
		p {
			@include media-breakpoint-down(sm) {
				font-size: rem(16);
			}
		}
	}
	.section-title {
		--sTPB: 0;
		@include media-breakpoint-up(xl) {
			--sTPB: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			height: 100%;
		}
		.h1 {
			line-height: calc(40 / 32);
			text-transform: uppercase;
		}
	}
	&__col {
		@include media-breakpoint-up(xl) {
			width: calc(19.3% + var(--bs-gutter-x));
		}
	}
	// &__item {
	// }

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAdvises
