// start .sInstitutions
.sInstitutions {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
		max-width: rem(322);
		margin-right: rem(8);
		@include media-breakpoint-up(md) {
			max-width: rem(392);
		}
		// max-width: rem(911);
	}
	&__slider {
		padding: var(--main-gutter);
		margin: calc(var(--main-gutter) * -1);
		// @include media-breakpoint-up(md) {
		// }
	}
	.institution-item {
		height: 100%;
		align-items: flex-start;
		&__img-wrap {
			--ratio: 100/116;
			@include media-breakpoint-down(md) {
				width: rem(84);
			}
		}
		&__footer {
			@include media-breakpoint-down(md) {
				flex-direction: column;
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sInstitutions
