.soc {
	@include roww(#{rem(20)}, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		opacity: 0.5;
		color: #D9D9D9;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			opacity: 1;
		}
	}
	.icon {
		font-size: rem(16);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	margin-right: rem(32);
}

.aside-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include media-breakpoint-up(md) {
		justify-content: flex-start;
		flex-direction: column;
		padding: rem(24.100) rem(28) rem(28) rem(28);
		background-image: linear-gradient(180deg, #101d22 0%, #101222 0.01%, #1b0c36 100%);
		border-radius: $border-radius-xl;
		flex-grow: 1;
    max-height: rem(912.1);
	}
	&__logo {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(45);
		}
		img {
			width: rem(53);
			height: rem(80);
			@include media-breakpoint-up(md) {
				width: rem(65);
				height: rem(99);
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: -6%;
			background-color: #222250;
			filter: blur(#{rem(12)});
			z-index: -1;
			width: rem(64);
			height: rem(64);
			border-radius: 50%;
			@include media-breakpoint-up(md) {
				width: rem(81);
				height: rem(81);
			}
		}
	}
	nav {
		@include media-breakpoint-down(md) {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			padding-left: rem(16);
			padding-right: rem(16);
			padding-top: rem(8);
			padding-bottom: rem(16);
			background-image: linear-gradient(0deg, #101222 -13.21%, #1b0c36 100%);
			border-radius: $border-radius-xl $border-radius-xl 0px 0px;
			z-index: 10;
		}
		@include media-breakpoint-down(sm) {
			padding-left: rem(9);
			padding-right: rem(9);
		}
	}
	.menu {
		display: flex;
		list-style: none;
		margin-bottom: 0;
		@include media-breakpoint-up(md) {
			position: relative;
			flex-direction: column;
			align-items: center;
			margin-bottom: rem(24);
		}
		@include media-breakpoint-down(md) {
			width: 100%;
			justify-content: space-between;
		}
	}
	.menu-item {
		width: auto;
		@include media-breakpoint-up(sm) {
			margin-right: rem(30);
		}
		&:last-child {
			margin-right: 0;
		}
		@include media-breakpoint-up(md) {
			width: 100%;
			margin-right: 0;
			margin-bottom: rem(24);
			&:last-child {
				margin-bottom: 0;
			}
		}
		@include media-breakpoint-down(sm) {
			min-width: rem(60);
		}
		a {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			font-size: rem(11);
			line-height: calc(13 / 11);
			color: $white;
			opacity: 0.5;
			&:hover,
			&.active,
			&:active {
				color: $primary;
				opacity: 1;
				.icon {
					opacity: 1;
					stroke: $primary;
				}
			}
			.icon {
				@include mt;
				font-size: rem(24);
				fill: none;
				stroke: $white;
				stroke-width: 2px;
				opacity: 0.4;
				margin-bottom: rem(8);
			}
		}
	}
	&__help.menu-item {
		@include media-breakpoint-up(md) {
			margin-top: auto;
		}
		a {
			opacity: 1;
			// &:hover,
			// &.active,
			// &:active {
			// 	color: $primary;
			// 	opacity: 1;
			// 	.icon {
			// 		opacity: 1;
			// 		stroke: $primary;
			// 	}
			// }
			@include media-breakpoint-down(md) {
				width: rem(80);
				height: rem(80);
				border: 1px solid $border-color;
				border-radius: $border-radius-xl;
			}
			.icon {
				opacity: 0.2;
			}
		}
	}
}
