.soc {
	@include roww(#{rem(20)}, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		opacity: 0.5;
		color: #d9d9d9;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			opacity: 1;
		}
	}
	.icon {
		font-size: rem(16);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	margin-right: rem(32);
}

.aside-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include media-breakpoint-up(md) {
		justify-content: flex-start;
		flex-direction: column;
		padding: rem(24.1) rem(28) rem(28) rem(28);
		background-image: linear-gradient(180deg, #101d22 0%, #101222 0.01%, #1b0c36 100%);
		border-radius: $border-radius-xl;
		flex-grow: 1;
		height: rem(912.1);
		// max-height: rem(912.1);
	}
	&__logo {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(45);
		}
		img {
			width: rem(53);
			height: rem(80);
			@include media-breakpoint-up(md) {
				width: rem(65);
				height: rem(99);
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: -6%;
			background-color: #222250;
			filter: blur(#{rem(12)});
			z-index: -1;
			width: rem(64);
			height: rem(64);
			border-radius: 50%;
			@include media-breakpoint-up(md) {
				width: rem(81);
				height: rem(81);
			}
		}
	}
	nav {
		@include media-breakpoint-down(md) {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			padding-left: rem(16);
			padding-right: rem(16);
			padding-top: rem(8);
			padding-bottom: rem(16);
			background-image: linear-gradient(0deg, #101222 -13.21%, #1b0c36 100%);
			border-radius: $border-radius-xl $border-radius-xl 0px 0px;
			z-index: 10;
		}
		@include media-breakpoint-down(sm) {
			padding-left: rem(9);
			padding-right: rem(9);
		}
	}
	.menu {
		display: flex;
		list-style: none;
		margin-bottom: 0;
		@include media-breakpoint-up(md) {
			position: relative;
			flex-direction: column;
			align-items: center;
			margin-bottom: rem(24);
		}
		@include media-breakpoint-down(md) {
			width: 100%;
			justify-content: space-between;
		}
	}
	.menu-item {
		width: auto;
		@include media-breakpoint-up(sm) {
			margin-right: rem(30);
		}
		&:last-child {
			margin-right: 0;
		}
		@include media-breakpoint-up(md) {
			width: 100%;
			margin-right: 0;
			margin-bottom: rem(24);
			&:last-child {
				margin-bottom: 0;
			}
		}
		@include media-breakpoint-down(sm) {
			min-width: rem(60);
		}
		a {
			@include mt(0.2s);
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			font-size: rem(11);
			line-height: calc(13 / 11);
			color: $white;
			opacity: 0.5;
			&:hover,
			&.active,
			&:active {
				color: $primary;
				opacity: 1;
				.icon {
					opacity: 1;
					stroke: $primary;
				}
			}
			.icon {
				@include mt;
				font-size: rem(24);
				fill: none;
				stroke: $white;
				stroke-width: 2px;
				opacity: 0.4;
				margin-bottom: rem(8);
			}
		}
	}
	&__help.menu-item {
		@include media-breakpoint-up(md) {
			margin-top: auto;
		}
		a {
			opacity: 1;
			// &:hover,
			// &.active,
			// &:active {
			// 	color: $primary;
			// 	opacity: 1;
			// 	.icon {
			// 		opacity: 1;
			// 		stroke: $primary;
			// 	}
			// }
			@include media-breakpoint-down(md) {
				width: rem(80);
				height: rem(80);
				border: 1px solid $border-color;
				border-radius: $border-radius-xl;
			}
			.icon {
				opacity: 0.2;
			}
		}
	}
}
.mentorHelp {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: rem(24);
	border-radius: $border-radius-xl;
	overflow: hidden;
	background-image: linear-gradient(300.17deg, #9341f9 3.47%, #3c1f93 73.25%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 0px 4px 17px rgba(13, 10, 24, 0.22);
	height: 100%;
	min-height: rem(252);
	z-index: 2;
	@include media-breakpoint-up(md) {
		padding: rem(32);
	}
	@include media-breakpoint-up(lg) {
		min-height: rem(288);
	}
	h3 {
		margin-bottom: rem(9);
	}
	p {
		max-width: 14.2em;
		color: $secondary;
		line-height: 1.3em;
		margin-bottom: 1.5rem;
	}
	&__btn {
		margin-top: auto;
	}
	img {
		position: absolute;
		height: 102%;
		width: auto;
		z-index: -1;
		right: 0;
		top: 0;
		left: auto;
		pointer-events: none;
		@include media-breakpoint-up(lg) {
			left: rem(160);
		}
	}
}

.section-title {
	.section-title__row {
		align-items: center;
	}
	.swiper-button-hand {
		position: relative;
		left: auto;
		right: auto;
		top: auto;
		bottom: auto;
		display: block;
	}
	.arrow-wrap {
		@include roww(#{rem(8)}, m);
		display: none;
		@include media-breakpoint-up(md) {
			display: flex;
		}
	}
	&__link-more {
		@extend .swiper-button-hand;
	}
}

.profession-item {
	display: flex;
	flex-direction: column;
	background-color: $border-color;
	box-shadow: 0px 4px 17px rgba(13, 10, 24, 0.22);
	border-radius: $border-radius-xl;
	padding: rem(16);
	color: var(--bs-white);
	&:hover {
		p {
			color: var(--bs-white);
		}
	}
	&__head {
		flex-grow: 1;
		margin-bottom: rem(20);
		h3 {
			margin-bottom: rem(10);
		}
		p {
			@include mt(0.2s);
			font-size: rem(13);
			color: $secondary;
			margin-bottom: rem(10);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__row.row {
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	&__property {
		background-color: var(--propBg);
		padding: rem(6) rem(10) rem(5);
		border-radius: rem(10);
		font-weight: 600;
		font-size: rem(11);
		line-height: calc(13 / 11);
		letter-spacing: 0.04em;
	}
}

.institution-item {
	display: flex;
	background-color: $border-color;
	box-shadow: 0px 4px 17px rgba(13, 10, 24, 0.22);
	border-radius: $border-radius-xl;
	padding: rem(16);
	color: var(--bs-white);
	&:hover {
		p {
			color: var(--bs-white);
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__head {
		margin-bottom: rem(10);
		h3 {
			margin-bottom: rem(4);
		}
		p {
			@include mt(0.2s);
			font-weight: 600;
			font-size: rem(11);
			line-height: calc(13 / 11);
			color: $secondary;
			margin-bottom: rem(10);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__img-wrap {
		@include block(116, 75);
		width: rem(116);
		flex-shrink: 0;
		margin-right: rem(10);
	}
	&__footer {
		@include roww(#{rem(8)});
		display: flex;
		flex-wrap: wrap;
		font-weight: 600;
		font-size: rem(11);
		line-height: calc(13 / 11);
		& > * {
			flex: 0 0 auto;
			width: auto;
		}
		span {
			display: block;
		}
		.institution-item__demanded {
			color: $orange;
		}
	}
}

.adviseItem {
	display: flex;
	flex-direction: column;
	color: $white;
	&:hover {
		color: $primary;
		.adviseItem__wrap {
			background-color: $primary;
			border-color: $primary;
		}
	}
	&__wrap {
		@include mt(0.2s);
		padding: rem(10);
		border-radius: $border-radius-xl $border-radius-xl 0 $border-radius-xl;
		border: 1px solid $secondary;
		margin-bottom: rem(16);
		p {
			font-weight: 500;
			font-size: rem(18);
			line-height: calc(22 / 18);
			color: $white;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__footer {
		@include roww(#{rem(8)}, m);
		display: flex;
		justify-content: space-between;
		font-weight: 600;
		font-size: rem(11);
		line-height: calc(13 / 11);
		letter-spacing: 0.04em;
		& > * {
			flex: 0 0 auto;
			display: block;
		}
		span {
			color: $white;
			opacity: 0.5;
		}
	}
}

.articleItem {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: $border-color;
	box-shadow: 0px 4px 17px rgba(13, 10, 24, 0.22);
	border-radius: $border-radius-xl;
	padding: 0 rem(16);
	z-index: 2;
	min-height: rem(450);
	@include media-breakpoint-up(xxl) {
		min-height: rem(500);
	}

	&__img-wrap {
		@include block(1, 1);
		max-width: calc(100% - rem(48));
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-top: rem(55);
		padding-bottom: rem(35);
		@include media-breakpoint-down(sm) {
			max-width: rem(340);
		}
		@include media-breakpoint-up(sm) {
			padding-top: rem(75);
			padding-bottom: rem(55);
		}
		img {
			border-radius: $border-radius-xl;
		}
	}
	&.articleItem--lg {
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(41, 45, 85, 0) 0%, #292d55 84.47%);
			z-index: -1;
			border-radius: $border-radius-xl;
		}
		.articleItem__img-wrap {
			position: absolute;
			left: 1px;
			top: 1px;
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			z-index: -1;
			border-radius: $border-radius-xl;
			max-width: 100%;
			&::before {
				content: none;
			}
		}
	}
	&__content {
		padding: rem(16) 0;
		display: flex;
		flex-direction: column;
		margin-top: auto;
		.h3 {
			margin-bottom: rem(10);
		}
		span {
			font-weight: 600;
			font-size: rem(11);
			line-height: calc(13 / 11);
			color: $white;
			opacity: 0.5;
		}
	}
}
